<div class="container">

<h2>
  Gestión de Eventos - {{ estadoSeleccionado }}
</h2>
<!-- 🔥 REPORTES -->
<div style="margin-bottom:15px;">
  <select [(ngModel)]="estadoSeleccionado">
    <option value="PENDIENTE">Pendientes</option>
    <option value="APROBADO">Aprobados</option>
    <option value="RECHAZADO">Rechazados</option>
  </select>

  <button (click)="cargarReporte()">Ver Reporte</button>
  <button (click)="generarPDF()">PDF</button>
  <button (click)="exportarExcel()">Excel</button>
</div>

<div *ngIf="cargando" class="loading">
Cargando eventos...
</div>

<div class="tabla-container">

<table *ngIf="!cargando">

<thead>
<tr>
<th>ID</th>
<th>Evento</th>
<th>Descripción</th>
<th>Docente</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let e of eventos">

<td>{{e.idevento}}</td>
<td class="evento">{{e.nombreevento}}</td>
<td>{{e.descripcion}}</td>
<td>{{e.nombreDocente || '-'}}</td>
<td>{{e.fechainicio}}</td>

<td class="acciones" *ngIf="estadoSeleccionado === 'PENDIENTE'">

  <button
    class="btn aprobar"
    [disabled]="procesando"
    (click)="aprobarEvento(e.idevento)">
    ✔ Aprobar
  </button>

  <button
    class="btn rechazar"
    [disabled]="procesando"
    (click)="abrirModalRechazo(e.idevento)">
    ✖ Rechazar
  </button>

</td>

<!-- 🔥 cuando NO es pendiente -->
<td *ngIf="estadoSeleccionado !== 'PENDIENTE'">
</td>

</tr>

<tr *ngIf="eventos.length===0">
<td colspan="6" class="vacio">No hay eventos</td>
</tr>

</tbody>

</table>

</div>

</div>

<!-- MODAL RECHAZO -->

<div class="modal" *ngIf="mostrarModal">

<div class="modal-content">

<h3>Rechazar evento</h3>

<textarea
[(ngModel)]="observacion"
placeholder="Escriba la observación">
</textarea>

<div class="acciones-modal">

<button
class="btn confirmar"
[disabled]="procesando"
(click)="confirmarRechazo()">
Confirmar
</button>

<button
class="btn cancelar"
(click)="cerrarModal()">
Cancelar
</button>

</div>

</div>

</div>