<div class="layout-admin">

  <!-- Sidebar -->
  <aside class="sidebar">

    <div class="logo">
      <span>SREI</span>
    </div>

    <nav class="menu">

      <a routerLink="/admin/dashboard" routerLinkActive="activo">
        <span class="material-icons icon">dashboard</span>
        <span>Dashboard</span>
      </a>

      <a routerLink="/admin/usuarios" routerLinkActive="activo">
        <span class="material-icons icon">group</span>
        <span>Usuarios</span>
      </a>

      <a routerLink="/admin/sesiones" routerLinkActive="activo">
        <span class="material-icons icon">devices</span>
        <span>Sesiones</span>
      </a>


    </nav>

  </aside>

  <!-- Contenido -->
  <main class="contenido">

    <section class="contenido-principal">
      <router-outlet></router-outlet>
    </section>

  </main>

</div>