<div class="dashboard-container">

  <!-- IZQUIERDA -->
  <div class="dashboard-main">

    <h2>Dashboard</h2>

    <div class="cards">

      <div class="card">
        <h3>Total Usuarios</h3>
        <p>{{totalUsuarios}}</p>
      </div>

      <div class="card">
        <h3>Usuarios Activos</h3>
        <p>{{activos}}</p>
      </div>

      <div class="card">
        <h3>Usuarios Inactivos</h3>
        <p>{{inactivos}}</p>
      </div>

    </div>

    <!--  GRÁFICOS  -->
    <div class="graficos">
      <div class="grafico">
        <canvas id="graficoPie"></canvas>
      </div>

      <div class="grafico">
        <canvas id="graficoBarra"></canvas>
      </div>
    </div>

    <div class="grafico">
      <h3>Usuarios registrados por mes</h3>
      <canvas id="graficoLinea"></canvas>
    </div>

  </div>

  <!-- DERECHA -->
  <div class="dashboard-side">

    <!--  USUARIOS CONECTADOS -->
    <div class="usuarios-card">
      <h3>Últimos usuarios conectados</h3>

      <div *ngIf="ultimosUsuarios.length === 0">
        <p>No hay usuarios conectados</p>
      </div>

      <div 
        class="usuario-item fade-in"
        *ngFor="let u of ultimosUsuarios">

        <div class="usuario-info">
          <mat-icon>person</mat-icon>

          <div>
            <strong>
              {{ u.nombres || 'Usuario' }}
              {{ u.apellidos || '' }}
            </strong>

            <small>{{ u.correo }}</small>
          </div>
        </div>

        <div class="estado">
          <span class="estado-online">
            <span class="dot"></span>
            En línea
          </span>
        </div>

      </div>

      <div class="ver-mas">
        <button routerLink="/admin/sesiones">
          Ver más
        </button>
      </div>
    </div>


    <!-- USUARIOS REGISTRADOS -->
    <div class="usuarios-card">
      <h3>Últimos usuarios registrados</h3>

      <div *ngIf="ultimosRegistrados.length === 0">
        <p>No hay registros recientes</p>
      </div>

      <div 
        class="usuario-item fade-in"
        *ngFor="let u of ultimosRegistrados">

        <div class="usuario-info">
          <mat-icon>person_add</mat-icon>

          <div>
            <strong>
              {{ u.nombres }}
              {{ u.apellidos }}
            </strong>

            <small>{{ u.correo }}</small>
          </div>
        </div>

        <div class="estado">
          <span class="estado-registrado">
            {{ u.fechalogin | date:'short' }}
          </span>
        </div>

      </div>

      <div class="ver-mas">
        <button routerLink="/admin/usuarios">
          Ver usuarios
        </button>
      </div>
    </div>

  </div>

</div>