<nav class="navbar">

  <div class="logo">
    <strong>SREI</strong>
  </div>

  <ul class="menu">

    <!-- SIN LOGIN -->
    <ng-container *ngIf="!authService.isLoggedIn()">

      <li>
        <a routerLink="/auth/login">Iniciar Sesión</a>
      </li>

      <li>
        <a routerLink="/auth/register">Registrarse</a>
      </li>

    </ng-container>

    <!-- CON LOGIN -->
    <ng-container *ngIf="authService.isLoggedIn()">

      <li>
        Bienvenido, {{ authService.getRol() }}
      </li>

      <li>
        <a (click)="logout()">Cerrar Sesión</a>
      </li>

    </ng-container>

  </ul>

</nav>