<div class="login-container">

  <div class="login-card">

    <h2 class="titulo">Registro</h2>
    <p class="subtitulo">Crear nueva cuenta</p>

    <form (ngSubmit)="register()">

      <!-- NOMBRES -->
      <div class="campo">
        <label>Nombres</label>
        <input
          type="text"
          [(ngModel)]="usuario.nombres"
          name="nombres"
          required
        />
      </div>

      <!-- APELLIDOS -->
      <div class="campo">
        <label>Apellidos</label>
        <input
          type="text"
          [(ngModel)]="usuario.apellidos"
          name="apellidos"
          required
        />
      </div>

      <!-- CORREO -->
      <div class="campo">
        <label>Correo</label>
        <input
          type="email"
          [(ngModel)]="usuario.correo"
          name="correo"
          required
        />
      </div>

      <!-- CONTRASEÑA -->
      <div class="campo">
        <label>Contraseña</label>
        <input
          type="password"
          [(ngModel)]="usuario.contrasena"
          name="contrasena"
          required
        />
      </div>

      <!-- ROLES -->
      <div class="campo">
        <label>Rol</label>
        <select
          [(ngModel)]="usuario.idtipousuario"
          name="idtipousuario">

          <option [value]="2">Coordinador</option>
          <option [value]="3">Decano</option>
          <option [value]="4">Usuario Externo</option>
          <option [value]="5">Docente</option>

        </select>
      </div>

      <!-- BOTÓN -->
      <button type="submit" class="btn-login" [disabled]="loading">
        {{ loading ? 'Registrando...' : 'Registrar' }}
      </button>

    </form>

    <!-- MENSAJES -->
    <p style="color: green" *ngIf="success">{{ success }}</p>
    <p style="color: red" *ngIf="error">{{ error }}</p>

    <!-- VOLVER -->
    <div class="registro-link">
      <a routerLink="/auth/login">Volver al login</a>
    </div>

  </div>

</div>