<div class="form-container">

  <h2>Crear Evento</h2>

  <form (ngSubmit)="crearEvento()">

    <label>Nombre del evento</label>
    <input type="text" [(ngModel)]="evento.nombreevento" name="nombreevento" required>

    <label>Descripción</label>
    <input type="text" [(ngModel)]="evento.descripcion" name="descripcion" required>

    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="evento.fechainicio" name="fechainicio" required>

    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="evento.fechafin" name="fechafin" required>

    <label>Lugar</label>
    <input type="text" [(ngModel)]="evento.lugar" name="lugar" required>

    <label>Aforo</label>
    <input type="number" [(ngModel)]="evento.aforo" name="aforo" required>

    <div class="botones">

      <button type="submit" class="btn-guardar">
        Guardar evento
      </button>

      <button type="button" class="btn-cancelar" routerLink="/docente/dashboard">
        Cancelar
      </button>

    </div>

  </form>

  <p *ngIf="mensaje" style="color:green; margin-top:10px;">
    {{mensaje}}
  </p>

  <p *ngIf="error" style="color:red; margin-top:10px;">
    {{error}}
  </p>

</div>