<div class="contenedor">

  <h2>Mis Eventos</h2>

  <div *ngIf="cargando">
    Cargando eventos...
  </div>

  <table *ngIf="!cargando && eventos.length > 0" class="tabla">

    <thead>
      <tr>
        <th>ID</th>
        <th>Evento</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Lugar</th>
        <th>Aforo</th>
        <th>Estado</th>
        <th>Acciones</th> <!-- 👈 NUEVO -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let evento of eventos">

        <td>{{ evento.idevento }}</td>

        <td>{{ evento.nombreevento }}</td>

        <td>{{ evento.fechainicio }}</td>

        <td>{{ evento.fechafin }}</td>

        <td>{{ evento.lugar }}</td>

        <td>{{ evento.aforo }}</td>

        <td>{{ evento.estado }}</td>

        <td>
         <button (click)="verDetalle(evento)">
  Ver detalles
</button>
        </td>

      </tr>
    </tbody>

  </table>

  <div *ngIf="!cargando && eventos.length === 0">
    No tienes eventos registrados
  </div>

</div>