.contenedor{
    padding:20px;
}

.tabla{
    width:100%;
    border-collapse: collapse;
}

.tabla th{
    background:#1e293b;
    color:white;
    padding:10px;
}

.tabla td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

h2{
    margin-bottom:20px;
}